.footer {
  height: 50px;
  width: 100vw;

  display: flex;
  justify-content: center;
  border-top: black 2px solid;
  margin-top: 30px;
  background-color: #7c4ec3;
}
.footer > div {
  display: flex;
  justify-content: center;
}
.footer a {
  color: white;
  font-weight: 900;
}
